
<header class="header">
  <div class="container">

    <div class="logo"><img src="assets/logo.jpeg" alt=""></div>
     <div class="hamburger" (click)="opensideBar()" >
      &#9776;
    </div>
    <nav class="nav-links desktop">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/services">Our Services</a>
      <a routerLink="/contact-us">Contact Us</a>
      
    </nav>
     <div class="buttons ">
      <button class="sign-in-btn">Sign in</button>
      <button class="contact-btn">Contact Us</button>
    </div>
   
  </div>
</header>
