<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h4>Useful Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About us</a></li>
        <li><a routerLink="/contact-us">Contact us</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>About us</h4>
      <p>
        From <strong>sedans for everyday rides</strong>, to
        <strong>SUVs for outstation travel</strong>, and
        <strong>luxury cars for special occasions</strong>, we offer the perfect ride for every need. Backed by professional drivers and round-the-clock customer support, My Journey Cabs is your reliable travel partner – wherever the road takes you.
      </p>
    </div>

    <div class="footer-column">
      <h4>Connect with us</h4>
      <ul>
        <li><a routerLink="/contact-us">📞 Contact us</a></li>
        <li>📧{{email}} </li>
        <li>📱 +91 9728115781</li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook" style="color: rgb(127, 127, 235);"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin" style="color: rgb(1, 1, 150);"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" style="color: rgb(41, 41, 240);"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color: rgb(240, 19, 229);"></i></a>
      </div>
    </div>
  </div>

  
</footer>
