<div class="third">
    <img src="assets/home 3rd.png" alt="">
    <div class="text">
        <h2>
            Outstation Trips with <strong>My Journey Cabs</strong>
        </h2>
        <p>
            Planning a getaway or a business visit out of town?
            <Strong>My Journey Cabs</Strong> offers seamless <strong>Outstation cab services</strong> across India. Whether it's a weekend excape, a family function, or a multi-city work tour, we Provide well-maintained <strong>Sedans, SUV's and Luxury cars</strong> with experienced drivers for a safe and comfortable journey.
         </p>
         <button (click)="goTo()">
            Explore our Car Rental Services
         </button>
    </div>
</div>