.blank{
    height: 160px;
    /* background-color: black; */
}

.header {
  /* background-color: #004466;  */
  color: white;
  padding: 40px 10px;
   background-image: url('/assets/serviceBg2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
  

}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
