<div class="second">
    <div class="text">
        <h2>Need a car? From Sedan to Luxury- We've Got You Covered!</h2>
        <p>
            Serving <strong>Pan India</strong>, we cater to personal, corporate, and leisure travel needs with professionals chauffeurs, 24/7 service, and a focus on customer satisfaction. Whenever your journey takes you - <strong>My Journey Cabs</strong> is ready to ride along.
        </p>
        <button (click)="openPopUp()" class="callBtn">
            Call Us Now
        </button>
    </div>
    <img src="assets/home 2nd.png" alt="">

</div>