<div class="backdrop" (click)="handleClose()"></div>
<div class="sidebar" >
  <button class="close-btn" (click)="handleClose()">×</button>
  <a routerLink="/" (click)="handleClose()">Home</a>
  <a routerLink="/about" (click)="handleClose()">About Us</a>
  <a routerLink="/services" (click)="handleClose()">Our Services</a>
  <!-- <a routerLink="/contact-us" (click)="handleClose()">Contact Us</a> -->

   <div class="social-icons">
        <a href="https://www.facebook.com/people/My-Journey-Cabs/100067590563390/?rdid=gjWdl9JDmIbmDGB2&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F16TEeq5ffh%2F"><i class="fa-brands fa-facebook" style="color: rgb(127, 127, 235);"></i></a>
        <a href="https://www.linkedin.com/in/my-journey-cabs-ride-beyond-discover-within-8777b5249/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin" style="color: rgb(1, 1, 150);"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" style="color: rgb(41, 41, 240);"></i></a>
        <a href="https://www.instagram.com/myjourneycabs/"><i class="fa-brands fa-instagram" style="color: rgb(240, 19, 229);"></i></a>
      </div><br><br>
      <p>Call:- <strong>+919728115781</strong></p>
      <br>
  <button class="sign-in-btn">Sign in</button>
  <button class="contact-btn" (click)="goTo()">Contact Us</button>
</div>
