
<app-hfirst (open)="openCallNow()"></app-hfirst>
<br>
<app-hsecond (open)="openCallNow()"></app-hsecond>
<br>
<app-hthird></app-hthird>
<br>

<app-hfourth (open)="openCallNow()"></app-hfourth>
   

<app-hjourney-banner></app-hjourney-banner>
<app-hpartner-seciton></app-hpartner-seciton>
<app-testimonial></app-testimonial>

<div class="cta-section">
  <div class="cta-content">
    <h2>Comfort, Class, Convenience – Just a Click Away. Book Now</h2>
    <button (click)="goTo()" class="cta-button">Contact us</button>
  </div>
</div>

@if(isCallnow){
  <app-call-now (close)="closeCallNow()"></app-call-now>
}