
<app-hfirst (open)="openCallNow()"></app-hfirst>
<br>
<app-hsecond (open)="openCallNow()"></app-hsecond>
<br>
<app-hthird></app-hthird>
<br>

<app-hfourth></app-hfourth>
    <!-- Journey Message Section -->

<app-hjourney-banner></app-hjourney-banner>
<!-- Partner Section -->
<app-hpartner-seciton></app-hpartner-seciton>
<app-testimonial></app-testimonial>

<div class="cta-section">
  <div class="cta-content">
    <h2>Comfort, Class, Convenience – Just a Click Away. Book Now</h2>
    <button class="cta-button">Contact us</button>
  </div>
</div>

@if(isCallnow){
  <app-call-now (close)="closeCallNow()"></app-call-now>
}